* {
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    padding: 1em;
}

body {
    background: rgb(110,204,234);
    background: -moz-linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
    background: linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6eccea",endColorstr="#b2bdf8",GradientType=1);    padding: 0;
    margin: 0;
}

header {
    height: 10%;
    width: auto;
    margin-left: 25%;
}header > h1{
    margin-left: 10%;
    margin-top: -3%;
    font-size: 40px;
}header > h2 {
    margin-top: -5%;
    margin-left: -10%;
}

li {
    list-style-type: none;
}

#container {
    height: auto;
    margin-top: -5%;
}

canvas {
    background-color: white;
    margin-left: 5%;
    height: 400px;
    border: 1px solid black;
    width: 50%;
}

#buttons {
    float: right;
    margin-right: 5%;
}

select{
    font-size: 20px;
    font-weight: 1000;
    width: 240px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-color: black;
}

#length {
    border-radius: 5px;
    width: 230px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
