* {
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    padding: 1em;
}

body {
    background: rgb(110, 204, 234);
    background: -moz-linear-gradient(90deg, rgba(110, 204, 234, 1) 74%, rgba(178, 189, 248, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(110, 204, 234, 1) 74%, rgba(178, 189, 248, 1) 100%);
    background: linear-gradient(90deg, rgba(110, 204, 234, 1) 74%, rgba(178, 189, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6eccea", endColorstr="#b2bdf8", GradientType=1);
    padding: 0;
    margin: 0;
}

header {
    height: 10%;
    width: auto;
    margin-left: 25%;
    color: #332E53;
}

header>h1 {
    margin-top: -7%;
    font-size: 60px;
}

header>h2 {
    margin-top: -12%;
    margin-left: -25%;
}

li {
    list-style-type: none;
}

#container {
    height: auto;
    margin-top: -5%;
}

#canvasContainer {
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0;
    background-color: white;
    width: 700px;
    height: 450px;
    margin-right: 0;
}

#vr {
    border-left: 3px solid black;
    height: 418px;
    margin-top: -279px;
    margin-left: 50px;
}

#hr {
    border-bottom: 3px solid black;
    margin-top: -278px;
}

.box {
    background-color: gray;
    border: 1px solid black;
    display: flex;
    flex: auto;
    width: 15px;
    height: 70px;
    padding: 0;
}

#box1 {
    margin-top: -35px;
    margin-left: 683px;
}

#box2 {
    background-color: gray;
    margin-top: -245px;
    margin-left: 43px;
}

canvas {
    margin-left: 6.3%;
    height: 99.7%;
    width: 89%;
}

#buttons {
    margin-top: -33%;
    float: right;
    margin-right: 3%;
}

select {
    font-size: 20px;
    font-weight: 1000;
    width: 240px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-color: black;
}

#length {
    border-radius: 5px;
    width: 230px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

footer{
    text-align: center;
    display: flex;
    float: right;
    width: 30%;
    height: auto;
    color: #4B4848;
    font-size: 20px;
    font-weight: bold;
    margin-top: -60px;
}
