* {
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    padding: 1em;
}

body {
background: rgb(110,204,234);
background: -moz-linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
background: linear-gradient(90deg, rgba(110,204,234,1) 74%, rgba(178,189,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6eccea",endColorstr="#b2bdf8",GradientType=1);    
padding: 0;
margin: 0;
}

header {
    height: 10%;
    width: auto;
    margin-left: 25%;
    color: #332E53;
}header > h1{
    margin-left: 10%;
    margin-top: -3%;
    font-size: 40px;
}header > h2 {
    margin-top: -5%;
    margin-left: -8%;
}

li {
    list-style-type: none;
}

#container {
    height: auto;
    margin-top: -5.5%;
}

#canvasContainer{
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0;
    background-color: white;
    width: 700px;
    height: 450px;
    margin-right: 0;
}
#vr{
    border-left: 3px solid black;
    height: 418px;
    margin-top: -261px;
    margin-left: 50px;
}
#hr{
    border-bottom: 3px solid black;
    margin-top: -278px;
}   
.box{
    border: 1px solid black;
    width: 1px;
    height: 5px;
}
#box1{
    background-color: gray;
    margin-top: -20px;
    margin-left: 665px;
}
#box2{
    background-color: gray;
    margin-top: -230px;
    margin-left: 33px;
}
canvas {
    margin-left: 7%;
    height: 99.7%;
    width: 85.5%;
}

#buttons {
    margin-top: -33%;
    float: right;
    margin-right: 3%;
}

select{
    font-size: 20px;
    font-weight: 1000;
    width: 240px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-color: black;
}

#length {
    border-radius: 5px;
    width: 230px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
